.footer{
    width: 100%;
    height: 90px;
    background-color: rgb(24, 24, 24);
    text-align: center;
}

.SoNet{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SoNet-link{
    color: #fff;
    align-items: center;
    padding: 5px;
    margin: 0 5px;
    transition: all 0.3s ease;
}
.SoNet-link:hover{
    color: rgb(99, 77, 48);
    transform: scale(0.9);
}

.copyright p{
    margin-top: 10px;
    color: rgb(107, 107, 107);
    font-family: 'Montserrat';
    font-size: 13px;
}

.line-bottom{
    margin: 0 auto;
    width: 80%;
    border: 1.5px solid #353838;
    border-top-color: #000;
}