.grid{
    margin: 100px 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;

}

.grid-item-pic{
    max-width: 100%;
}
.grid-item-pic img{
    width: 100%;
    height: 100%;
}

.grid-item-text{
    max-width: 100%;
    background-color: #f7f7f7;    
}

.text-inner{
    max-width: 60%;
    padding-top: 15%;
    margin: 0 auto;
    

    text-align: center;

}

.text-inner h3{
    font-size: 20px;
    margin-bottom: 35px;
}

.text-inner p{
    font-family: "Lora";
    margin-bottom: 30px;
    line-height: 1.5em;
}

.text-inner a{
    text-decoration: none;
    font-family: 'Montserrat';
    letter-spacing: 1px;
    color: #000;
    transition: all 0.3s ease;
}

.text-inner a:hover{
    font-size: 15px;
    color: rgb(99, 77, 48);
}
