.container{
    max-width: 80%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

p{
    font-family: 'Helvetica';
    margin: 20px 0;
    line-height: 1.4em;
}

.photo-tour{
    width: 80%;
    margin: 100px auto;
    padding: 40px 0;
}

.day-info{
    margin: 40px auto;

}

.day-info h2{
    text-align: center;
    font-size: 25px;
    object-fit: cover;
}

.day-info-pic{
    display: flex;
    justify-content: space-between;
}


.day-info img{
    display: block;
    margin: 0 auto;
}