#tab-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table.details {
    height: 100%;
    width: 70%;
    margin-top: 20px;
    border-collapse: collapse;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

tr.details-inner{
    border-bottom: 1px solid #e4e4e4;
}

tr.details-inner:last-child{
    border: none;
}

td,th{
    padding: 10px;
}

td{
    line-height: 1.5em;
    font-weight: 300;
}

th{
    width: 30%;
    vertical-align: top;
}

td i{
    margin: 0 15px;
}

td span{
    margin-left: 45px;
}
.green i{
    color: rgb(0, 160, 0);
}
.red i{
    color: rgb(160, 0, 0);
}
.blue i{
    color: rgb(0, 0, 160);
}


/*--description--*/

#tab-1{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
}

.day-info p{
    font-family: 'Helvetica';
    margin: 20px 0;
    line-height: 1.4em;
}

.photo-tour{
    width: 67%;
    margin: 0 50px;
    padding: 40px 0;
}

.day-info{
    margin: 40px auto;
}

.day-info h2{
    font-size: 25px;
    object-fit: cover;
}

.day-info-pic{
    display: flex;
    justify-content: start;
    margin: 0 5px;
}

.day-info img{
    margin: 0 10px;
    display: block;

}

/*--oter-tour--*/
.other-tour{
    margin-top: 70px;
    padding-left: 30px;
    width: 25%;
    height: 400px;
    border-left: 1px solid rgb(199, 199, 199);
}

.tour{
    width: 100%;
}

.other-tour h2{
    padding-top: 10px;
}

.tour-link{
    margin: 20px 0;
    padding: 5px;
    max-width: 80%;
    text-decoration: none;
    color: #000;
    vertical-align: top;
    display: flex;
    justify-content: start;
    transition: all 0.3s ease;
}

.tour-link:hover{
    transform: scale(1.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3) ;
}

.tour-link h4{
    padding-left: 7px;
    width: 100%;
    border-left: none;
}